* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/Billeder/Baggrundsbilledeskov.jpeg);
  background-position: center;
  background-color: rgba(7, 10, 6, 0.678);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 1630px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 6vw;
  text-shadow: 4px 4px rgb(1, 68, 1);
  text-align: center;
  color: white;
  font-weight: lighter;
}
