@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
// COLORMODS //

$headings: #39753d;
$shadow: #5d755e;
$light: #c3f7c6;
$green: #5fc266;

body {
  position: relative;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Cormorant SC", serif;
}

h1 {
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: bold;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 10px double rgba(236, 160, 18, 0.25);
  border-width: 10px 0;
  margin-top: 160px;

  .title1 {
    letter-spacing: 5px;
    display: block;

    /* Clip Background Image */

    background: url(./Images/fire-3.jpeg) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */

    -webkit-text-fill-color: rgba(255, 238, 0, 0.411);
    animation: aitf 20s linear infinite;

    /* Activate hardware acceleration for smoother animations */

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }

  .subtitle1 {
    font-size: 1.8vw;
    letter-spacing: 10px;
    color: rgba(255, 157, 0, 0.699);
  }
}

/* Animate Background Image */

@keyframes aitf {
  0% {
    background-position: bottom 0% bottom 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
